    /*
    Flaticon icon font: Flaticon
    Creation date: 24/12/2018 10:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-lift:before { content: "\f100"; }
.flaticon-surgery-room:before { content: "\f101"; }
.flaticon-report:before { content: "\f102"; }
.flaticon-doctor:before { content: "\f103"; }
.flaticon-epidermis:before { content: "\f104"; }
.flaticon-esophagus:before { content: "\f105"; }
.flaticon-stomach:before { content: "\f106"; }
.flaticon-eye:before { content: "\f107"; }
.flaticon-pregnant:before { content: "\f108"; }
.flaticon-scalpel:before { content: "\f109"; }
.flaticon-latex:before { content: "\f10a"; }
.flaticon-treatment:before { content: "\f10b"; }
    
    $font-Flaticon-lift: "\f100";
    $font-Flaticon-surgery-room: "\f101";
    $font-Flaticon-report: "\f102";
    $font-Flaticon-doctor: "\f103";
    $font-Flaticon-epidermis: "\f104";
    $font-Flaticon-esophagus: "\f105";
    $font-Flaticon-stomach: "\f106";
    $font-Flaticon-eye: "\f107";
    $font-Flaticon-pregnant: "\f108";
    $font-Flaticon-scalpel: "\f109";
    $font-Flaticon-latex: "\f10a";
    $font-Flaticon-treatment: "\f10b";