	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/12/2018 10:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-lift:before { content: "\f100"; }
.flaticon-surgery-room:before { content: "\f101"; }
.flaticon-report:before { content: "\f102"; }
.flaticon-doctor:before { content: "\f103"; }
.flaticon-epidermis:before { content: "\f104"; }
.flaticon-esophagus:before { content: "\f105"; }
.flaticon-stomach:before { content: "\f106"; }
.flaticon-eye:before { content: "\f107"; }
.flaticon-pregnant:before { content: "\f108"; }
.flaticon-scalpel:before { content: "\f109"; }
.flaticon-latex:before { content: "\f10a"; }
.flaticon-treatment:before { content: "\f10b"; }