	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/12/2018 10:37
  	*/

@font-face {
  font-family: "Flaticon2";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon2";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
[class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {   
  font-family: Flaticon2;
        /*font-size: 50px;*/
        /*font-style: normal;*/
        /*margin-left: 20px;*/
}

.flaticon2-lift:before { content: "\f100"; }
.flaticon2-surgery-room:before { content: "\f101"; }
.flaticon2-report:before { content: "\f102"; }
.flaticon2-doctor:before { content: "\f103"; }
.flaticon2-epidermis:before { content: "\f104"; }
.flaticon2-esophagus:before { content: "\f105"; }
.flaticon2-stomach:before { content: "\f106"; }
.flaticon2-eye:before { content: "\f107"; }
.flaticon2-pregnant:before { content: "\f108"; }
.flaticon2-scalpel:before { content: "\f109"; }
.flaticon2-latex:before { content: "\f10a"; }
.flaticon2-treatment:before { content: "\f10b"; }