    /*
    Flaticon icon font: Flaticon
    Creation date: 26/09/2018 12:41
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-sleep:before { content: "\f100"; }
.flaticon-deal:before { content: "\f101"; }
.flaticon-smile:before { content: "\f102"; }
.flaticon-interview:before { content: "\f103"; }
.flaticon-life:before { content: "\f104"; }
.flaticon-ecg:before { content: "\f105"; }
.flaticon-yoga:before { content: "\f106"; }
.flaticon-medal:before { content: "\f107"; }
.flaticon-justice:before { content: "\f108"; }
.flaticon-friendship:before { content: "\f109"; }
    
    $font-Flaticon-sleep: "\f100";
    $font-Flaticon-deal: "\f101";
    $font-Flaticon-smile: "\f102";
    $font-Flaticon-interview: "\f103";
    $font-Flaticon-life: "\f104";
    $font-Flaticon-ecg: "\f105";
    $font-Flaticon-yoga: "\f106";
    $font-Flaticon-medal: "\f107";
    $font-Flaticon-justice: "\f108";
    $font-Flaticon-friendship: "\f109";