    /*
    Flaticon icon font: Flaticon
    Creation date: 26/09/2018 10:46
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-dentist:before { content: "\f100"; }
.flaticon-skin:before { content: "\f101"; }
.flaticon-esophagus:before { content: "\f102"; }
.flaticon-scalpel:before { content: "\f103"; }
.flaticon-laser:before { content: "\f104"; }
.flaticon-surgery:before { content: "\f105"; }
.flaticon-doctor:before { content: "\f106"; }
.flaticon-pregnant:before { content: "\f107"; }
    
    $font-Flaticon-dentist: "\f100";
    $font-Flaticon-skin: "\f101";
    $font-Flaticon-esophagus: "\f102";
    $font-Flaticon-scalpel: "\f103";
    $font-Flaticon-laser: "\f104";
    $font-Flaticon-surgery: "\f105";
    $font-Flaticon-doctor: "\f106";
    $font-Flaticon-pregnant: "\f107";