	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/09/2018 10:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-dentist:before { content: "\f100"; }
.flaticon-skin:before { content: "\f101"; }
.flaticon-esophagus:before { content: "\f102"; }
.flaticon-scalpel:before { content: "\f103"; }
.flaticon-laser:before { content: "\f104"; }
.flaticon-surgery:before { content: "\f105"; }
.flaticon-doctor:before { content: "\f106"; }
.flaticon-pregnant:before { content: "\f107"; }