/* Life Lab - Health Care HTML Template */

@media only screen and (max-width: 1400px){

	.testimonial-section-two .side-img{
		display: none;
	}

}

@media only screen and (max-width: 1140px){

	.big-ipad-hidden{
		display: none !important;
	}

	.main-menu .navigation{
		text-align: left;
	}

	.main-header .header-upper .logo-outer,
	.main-header .header-upper .upper-right{
		width:100%;
		text-align:center;
	}

	.main-header .info-box{
		display:inline-block;
		text-align:left;
		float:none;
	}
	
	.main-header .nav-outer{
		margin: 0 -15px;
		padding: 0;
	}

	.main-menu .navigation{
		padding-left: 20px;
	}
	
	.main-header .logo-outer{
		padding:20px 0px 10px;
	}
	
	.main-header .header-upper .upper-right{
		padding-top:20px;
		padding-bottom:20px;
		text-align:center;
	}
	
	.main-menu .navigation > li{
		margin: 0 0px 0 0;
	}

	.main-menu .navigation > li > a{
		padding: 16px 10px 14px;
	}

	.main-header .header-top .top-left ul li:first-child{
		margin-left: 0;
	}

	.main-header .search-box-outer{
		padding: 15px 0 13px;
	}

	.main-header .dropdown-menu{
		top: 34px;
	}

	.doctor-info .image-column .inner-column{
		padding: 0;
	}

	.doctors-tabs .doctors-thumb .image-box{
		max-width: 140px;
		height: auto;
	}

	.about-us .about-block .icon-box{
		position: relative;
		left: 0;
		top: 0;
		margin: 0 auto 20px;
	}

	.about-us .about-block .inner-box{
		padding: 35px 30px;
		text-align: center;
	}

	.department-tabs .tab-buttons{
		text-align: center;
	}

	.department-tabs .tab-buttons .tab-btn{
		margin: 0 0 3px;
	}

	.department-tabs .department-info .content-column .inner-column{
		padding: 0;
	}

	.apppointment-page .layer-image{
		right: -70px;
	}
	
	.header-style-two .search-box-outer{
		display:none;	
	}

}

@media only screen and (min-width: 600px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		/*display:block !important;*/
		visibility:hidden;
		opacity:0;
	}

	.doctor-info .image-column{
		padding:0; 
		margin-bottom: 0px;
	}

	.doctor-info .content-column{
		padding-left: 44px;
	}
}

@media only screen and (max-width: 1023px){

	.doctor-info .content-column{
		margin-top: 30px;
	}

	.header-style-two{
		position: relative;
	}

	.header-style-two .header-upper{
		background: #ffffff;
	}

	.header-style-two .logo-box .logo{
		/*position: relative;
		margin: 0 auto;*/
	}

	.header-style-two .main-menu .navigation > li{
		padding: 10px 0;
		margin:0 5px;
	}

	.header-style-two .header-top .top-right,
	.main-header .outer-box{
		/*display:none;	*/
	}

	.header-style-two .main-menu .navigation{
		text-align: center;
	}
		
	.header-style-two .nav-outer{
		/*width: 100%;
		float: none;*/
	}
	.main-header .header-upper .upper-right{
		width:100%;	
	}

	.main-header .main-menu {
		padding:0 15px;
	}

	.main-menu .navigation{
		padding-left: 20px;
	}

	.main-menu .navigation > li a{
		background:none;
	}

	.main-header .info-box{
		margin-left: 20px;
		padding-left: 55px;
	}

	.main-header .search-box{
		display: none;
	}

	.page-title{
		margin-top: 0;
		padding: 70px 0;
		text-align: center;
		width: 100%;
	}

	.main-footer .post-widget,
	.main-footer .nav-widget{
		padding-left: 0;
	}

	.main-footer{
		padding-top: 50px;
	}

	.main-slider.style-two{
		margin-top: 0;
	}

	.call-to-action .title-box{
		width: 100%;
		text-align: center;
		padding-left: 0;
	}

	.call-to-action .title-box .icon{
		position: relative;
		margin: 0 auto 10px;
		left:0;
		display: inline-block;
	}

	.call-to-action .btn-box{
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}

	.apppointment-page .layer-image{
		display: none;
	}

	.apppointment-page .timetable .table-column{
		padding-top: 0px;
	}

	.fluid-section-one .content-column,
	.fluid-section-one .image-column{
		position: relative;
		float: left;
		width: 100%;
		background: none;
	}

	.fluid-section-one .image-column .image-box{
		display: block;
	}

	.fluid-section-one .content-column .inner-box{
		padding: 70px 15px;
	}

	.doctors-tabs .doctors-thumb{
		position: relative;
		margin: 0px 0 70px;
		width: 100%;
		text-align: center;
	}

	.doctors-tabs .doctors-thumb .tab-btn{
		display: inline-block;
		float: none;
	}

	.testimonials-and-timetable .testimonial-carousel{
		max-width: 100%;
		padding-bottom: 60px;
	}

	.appointment-form{
		margin: 0 auto;
		width: 100%;
		max-width: 100%;
		padding-top: 90px;
	}

	.appointment-section .inner-container{
		margin-top: 70px;
		background: none !important;
		padding: 0 50px;
	}

	.sidebar-side .default-sidebar,
	.main-footer .links-widget{
		padding-left: 0;
	}

	.mixitup-gallery .filters li{
		margin: 0 10px 10px;
	}

	.subscribe-section{
		text-align: center;
	}
	.subscribe-section h3{
		width: 100%;
		text-align: center;
		padding: 0;
		margin-bottom: 20px;
	}

	.subscribe-section .call-btn{
		float: none;
		display: inline-block;
	}

	.department-tabs .department-info .content-column .inner-column{
		padding-top: 40px;	
	}

	.testimonial-section.alternate .testimonial-block-two{
		margin-bottom: 40px;
	}

	.doctor-detail .detail-column .inner-box{
		padding-left: 0;
		padding-top: 40px;
	}

	.doctor-detail .timetable{
		margin-bottom: 40px;
	}
	
	.department-sidebar{
		padding-right: 0;
	}

	.price-features .price-feature{
		margin-bottom: 40px;
	}

	.contact-page-section .form-section{
		padding-top: 50px;
	}

	.contact-page-section .form-section .contact-column{
		margin-bottom: 50px;
	}

	.contact-page-section .contact-form{
		max-width: 100%;
	}

	.sticky-header{
		display: none;
	}
	
	.faq-section .faq-tabs .tab-buttons li{
		margin:0px 10px 10px 0px;	
	}

	.fixed-header{
		position:fixed !important;
		top: -80px;
	}

	.main-header{
		transition:all 0.3s ease;
		-moz-transition:all 0.3s ease;
		-webkit-transition:all 0.3s ease;
		-ms-transition:all 0.3s ease;
		-o-transition:all 0.3s ease ;
	}
}

@media only screen and (max-width: 767px){
	.main-slider h2{
		font-size: 38px;
		line-height: 1.2em;
	}

	.main-header .header-top .top-left p{
		display: none;
	}
	
	.header-upper .logo-outer{
		display: block;
		width: 100%;
	}

	.header-style-two .logo-box .logo{
		float: left;
		height: 110px;
    	max-width: 96px;
	}

	.main-header .header-upper .upper-column{
		margin-left:0px;
		width:100%;	
	}

	.main-header .header-upper .upper-column.info-box {
		display: block;
		width:100%;
		text-align:center;
		padding:0px 0px 30px;
		max-width:none;
	}

	.main-header .header-lower{
		position: relative;
		margin-bottom: 0;
		background-color: #00aeef;
	}
	
	.main-header .info-box .icon-box{
		position:relative;
		display:block;
		top:0px;
		text-align:center;
		margin:0 auto 5px;	
	}

	.main-header .nav-outer{
		padding-left: 0;
	}

	.main-header .search-box-outer{
		position: absolute;
		left: 15px;
		right: auto;
		padding: 22px 0 16px;
		z-index: 999;
	}

	.main-header .dropdown-menu{
		left: 0;
		right: auto;
	}
	
	.header-style-two .main-menu{
		padding-top:0px;
		width:100%;
		margin:0px;
		padding:0px;
		/*margin-top: -80px;*/
	}
	
	.main-menu .collapse {
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:0px 0px 0px;
		border:none;
		max-height:330px;
		overflow:auto;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:13px 0px 13px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:7;
		top:-1px;
		border:1px solid #222222;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background:#222222;
	}

	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		padding: 0;
		width:100% !important;
		background:#222222;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding: 0 !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		padding:0px;
		outline:none;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#222222;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
		box-shadow:none !important;
		-webkit-transform: scaleY(1);
	    -ms-transform: scaleY(1);
	    -moz-transform: scaleY(1);
	    transform: scaleY(1);
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{

	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:12px 15px !important;
		line-height:22px;
		color:#ffffff !important;
		background:#222222;
		text-align:left;
		min-height:0px;
		font-size:14px !important;
		text-transform:capitalize;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#222222;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#222222;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.header-style-two .outer-box .theme-btn,
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}

	.header-style-two{
		position: fixed;
		background-color: #fff;
	}

	.main-header.header-style-two .search-box-outer{
		display: none;
	}

	.header-style-two .nav-outer{
		width: 100%;
		margin: 0;
	}

	.main-header.header-style-two .main-menu .collapse.in,
	.main-header.header-style-two .main-menu .collapsing{
		margin-top: 20px;
	}

	.main-header.header-style-two .header-upper .logo-outer{
		max-width: 100px;
	}
	
	.main-slider{
		margin-top:0px !important;
		top:0px;	
	}

	.main-slider p{
		font-size: 14px;
		line-height: 1.5em;
	}

	.sec-title{
		margin-bottom: 40px;
	}

	.sec-title h2{
		font-size: 28px;
		line-height: 1.3em;
	}

	.page-title h1{
		font-size: 28px;
		line-height: 1.2em;
	}

	.page-info .bread-crumb li{
		font-size: 16px;
		margin-right: 5px;
		padding-right: 20px;
	}

	.page-info .link-box a,
	.page-info .bread-crumb li:after{
		font-size: 16px;
	}

	.page-info{
		padding: 15px 0;
	}

	.doctor-detail,
	.news-section.alternate,
	.testimonial-section.alternate,
	.apppointment-page,
	.testimonial-section,
	.doctors-section,
	.project-section,
	.department-section{
		padding: 70px 0;
	}

	.contact-page-section,
	.appointment-form{
		padding: 70px 0 50px;
	}

	.doctors-team,
	.department-section.alternate,
	.services-section{
		padding: 70px 0 40px;
	}

	.news-section,
	.testimonials-and-timetable{
		padding: 70px 0 30px;
	}

	.sidebar-page-container,
	.faq-section{
		padding: 70px 0 20px;
	}

	.department-detail-section,
	.about-us{
		padding-top: 70px;
	}

	.about-us .feature-column .inner-column{
		padding: 0;
	}

	.main-footer .widgets-section,
	.fun-fact-section{
		padding: 70px 0 20px;
	}

	.clients-section{
		padding: 40px 0;
	}

	.counter-column .count-box{
		padding-left: 0;
	}

	.apppointment-page .appointment-form{
		padding: 0;
	}

	.apppointment-page .timetable ul{
		margin-bottom: 0;
	}

	.counter-column .count-box{
		width: 100%;
		text-align: center;
	}

	.counter-column .icon{
		position: relative;
		display: block;
		margin: 0 auto 0px;
	}

	.department-block .lower-content{
		text-align: left;
	}

	.sidebar-widget{
		margin-top:30px;
	}

	.department-block .lower-content .title h3,
	.department-block .lower-content .title{
		padding: 0;
		margin-bottom: 10px;
	}

	.department-block .lower-content .title .icon{
		position: relative;
		display: block;
		margin: 0 auto 10px;
	}

	.department-section.alternate .department-block{
		margin-bottom: 40px;
	}

	.main-footer .footer-logo{
		margin-top: 0;
	}

	.main-footer{
		padding: 0;
	}

	.about-us.alternate{
		padding:70px 0 0;
	}

	.main-footer .footer-column .widget-title{
		margin-bottom: 10px;
	}

	.main-footer .contact-list li,
	.main-footer .links-widget .list li{
		margin-bottom: 0;
	}

	.service-block .inner-box{
		padding: 40px 20px;	
	}

	.project-section .btn-box{
		margin-top: 20px;
	}

	.contact-section .form-column{
		width: 100%;
		padding: 70px 15px 50px;
	}

	.contact-section .map-column .map-canvas,
	.contact-section .map-column{
		position: relative;
		width: 100%;	
		float: left;
		height: 500px;
	}

	.styled-pagination li{
		margin: 0px;
	}

	.faq-section .faq-tabs .tab-buttons li{
		font-size: 14px;
		font-weight: 400;
		text-transform: capitalize;
		padding:10px 20px;
	}

	.team-block{
		margin-bottom: 40px;
	}

	.department-detail .image-column .image{
		margin-bottom: 30px;
	}

	.testimonial-block-three .image-column{
		margin-bottom: 30px;
	}

	.comments-area .comment-box.reply-comment{
		margin-left: 0;
	}

	.comments-area .comment-info{
		margin-bottom: 10px;
	}

	.blog-detail .news-block-two .content-box{
		padding: 40px 15px 40px;
	}

	.comments-area{
		margin-top: 0px;
		margin-bottom: 30px;
	}

	.sidebar-page-container .comment-form .group-title{
		margin-bottom: 30px;
	}

	.header-top .top-left li:first-child{
		float:left !important;
	}

	.header-style-two .top-left .contact-list li {
		margin-right: 14px;
	}

	.header-style-two .header-top .top-right {
	    display: block;
	    width: 100%;
	    text-align: center;
	}
	
	.header-style-two .logo-box .logo {
	    margin-top: -20px;
	}



}

@media only screen and (max-width: 599px){

	.department-block .lower-content .title{
		margin-bottom:16px;
	}

	.department-block .lower-content .title h3{
		font-size: 18px;
	}

	.department-carousel .owl-dots{
		display: none !important;
	}

	.department-carousel{
		padding-bottom: 0;
	}

	.doctors-tabs .doctors-thumb .tab-btn{
		padding: 0 5px;
	}

	.doctors-tabs .doctors-thumb .image-box{
		max-width: 80px;
	}

	.doctor-info .social-links h4,
	.doctor-info .social-links{
		width: 100%;
		margin-bottom: 10px;
	}

	.doctor-info .call-btn{
		width: 100%;
	}

	.doctor-info .call-btn a{
		display: block;
		width: 100%;
	}

	.doctor-info .content-column .inner-column{
		text-align: center;
	}

	.doctor-info .social-links ul{
		display: inline-block;
		margin-left: -15px;
	}

	.testimonial-block .image-box{
		padding-left: 0;
	}

	.testimonial-block .image-box .thumb{
		position: relative;
		margin-bottom: 20px;
	}

	.testimonial-block .text-box{
		padding: 20px 15px;
	}

	.timetable .theme-btn{
		padding: 15px 20px;
	}

	.timetable-column .timetable{
		padding: 25px 20px 30px;
	}

	.timetable h3{
		font-size: 26px;
	}
	
	.appointment-section .inner-container{
		padding: 0 15px;
	}

	.appointment-form{
		padding: 50px 0 30px;
	}

	.main-header .header-top .top-right{
		display: none;
	}

	.header-style-two .header-top .top-right{
		display: block;
	}

	.department-tabs .department-info .content-column .call-btn a{
		margin-bottom: 10px;
		display: block;
		width: 100%;
		text-align: center;
	}

	.testimonial-block-two .inner-box{
		padding-left: 30px;
		text-align: center;
		margin-left: 0;
	}

	.testimonial-block-two .thumb{
		position: relative;
		margin-bottom: 20px;
		top: 0;
		left: 0;
	}

	.testimonial-carousel-two .owl-dots{
		display: none !important;
	}

	.testimonial-carousel-two{
		padding-bottom: 0;
	}

	.timetable .theme-btn,
	.faq-section .faq-tabs .tab-buttons li{
		display: block;
		width: 100%;
		text-align: center;
	}

	.doctor-detail .detail-column .info-list li p{
		padding-left: 0;
	}

	.doctor-detail .lower-content .social-icon-one,
	.doctor-detail .lower-content .contact-list,
	.doctor-detail .detail-column .info-list li{
		margin-bottom: 30px;
	}

	.doctor-detail .detail-column .inner-box{
		padding-right:0;
	}

	.doctor-detail .timetable,
	.doctor-detail .upper-box{
		margin-bottom: 0;
	}

	
	.main-footer .footer-bottom p{
		text-align: center;
	}

	.blog-detail .post-share-options > div{
		width: 100%;
	} 

	.comments-area .comment{
		padding-left: 0;
	}

	.comments-area .comment-box .author-thumb{
		position: relative;
		margin:0 0 20px;
	} 

	.comments-area .comment-box .reply-btn{
		position: relative;
		margin-top: 10px;
	}
	
	.call-to-action .title-box p{
		line-height:2em;	
	}
	
	.call-to-action .title-box p span{
		display:block;	
	}

}

@media only screen and (max-width: 479px) {

	.main-slider h5{
		font-size: 14px;
		line-height: 1.2em;
	}

	.main-slider h2{
		font-size: 24px;
		line-height: 1.2em;
	}

	.main-slider p{
		font-size: 12px;
		line-height: 15px;
	}

	.main-slider br{
		display: none;
	}

	.comment-form button,
	.apppointment-page .appointment-form button{
		display: block;
		width: 100%;
	}

	.sec-title h2{
		font-size: 24px;
		line-height: 1.2em;
	}

	.main-footer .contact-list li{
		margin-bottom: 10px;
	}

	.featrue-block .inner-box{
		padding-left: 0;
	}

	.news-block-two .content-box{
		padding: 40px 20px;
	}

	.testimonial-block-two .inner-box:before{
		display: none;
	}

	.featrue-block .icon-box{
		position: relative;
		margin-bottom:10px;
		top: 0;
	}

	.about-us .about-block .inner-box{
		padding: 35px 15px;
	}

	.scroll-to-top{
		top: -50px;
	}


	.contact-page-section h3{
		font-size: 24px;
		line-height: 1.2em;
	}
	.department-detail h2{
		font-size: 24px;
	}


	.news-block-two .content-box h3{
		font-size: 20px;
		line-height: 30px;
	}

	.header-style-two .logo-box .logo a{
		top: 11%;
		width: 230%;
	}

	.department-tabs .tab-buttons .icon-box {
	    height: 60px;
	    width: 60px;	    
	}

	.department-tabs .tab-buttons .icon-box .icon {
	    font-size: 34px;
	    line-height: 20px;
	    color: #222222;
	}

	.department-tabs .tab-buttons .icon-box h5{
		display: none;
	}

	.page-wrapper {	    
	    padding-top: 150px;
	}

	.lower-content .title img{
		width:auto !important;
	}

	.call-to-action .title-box h2 {	    
	    font-size: 20px;
		line-height: 30px;
	}

	.call-to-action .title-box p {
	    line-height: 1em;
	    font-size: 13px;
	}


}

@media screen and (max-width:768px){
	.featrue-block ,.about-us .feature-column .sec-title{	    
	    text-align: center;
	}

	.department-detail .image-box{
		margin-bottom: 30px;
	}
}


@media screen and (min-width:600px) and (max-width:992px){
	.header-style-two .logo-box .logo {
	    position: absolute;
	    left: 15px;
	    top: 60px;
	    height: auto;
	    width: 200px;
	    text-align: center;
	    background-color: #ffffff;
	    z-index: 99;
	    margin-top: -20px;
	}

	.featrue-block, .about-us .feature-column .sec-title {
	    text-align: left;
	}

	.featrue-block {	    
	    height: 120px;
	}

	.featrue-block, .about-us .feature-column .sec-title {
	    text-align: center;
	}

	.featrue-block, .about-us .feature-column .sec-title {
	    text-align: left;
	}

	.about-us .feature-column .inner-column {
	    position: relative;
	    padding-left: 40px;
	    padding-top: 40px;
	}

	.fluid-section-one .content-column .inner-box {	    
	    padding: 90px 15px 70px 85px;
	}

	.main-footer .widgets-section {
	    position: relative;
	    padding: 70px 0 70px 70px;
	}

	.fun-fact-section {	    
	    padding: 80px 0 50px 60px;
	}

	.doctor-info > .row{
		margin-left: 17px;
		margin-right:0;
	}

	.main-header .header-top .top-right {	    
	    margin-top: -51px;
	}

	.main-header .header-top .top-right a {	    
	    background: transparent;
	}

	.marquee {
      	width:992px;  
	}

	.header-style-two .logo-box .logo{		
    	max-width: none;
	}
}


@media screen and (max-width:992px){

	.metis.tparrows{
		display:none !important;
	}
	.main-menu .collapse {
	    float: none;
	    width: 100%;
	    padding: 10px 0px 0px;
	    border: none;
	    margin: 0px;
	    -ms-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    -o-border-radius: 3px;
	    border-radius: 3px;
	}

	.navbar-collapse.collapse {
	    display: none !important;	    
	}

	.navbar-collapse.collapse.in {
	    display: block !important;	    
	}

	.navbar-toggle {
	    display: block;
	}

	.main-menu .navbar-header .navbar-toggle {
	    display: inline-block;
	    z-index: 7;
	    top: -1px;
	    border: 1px solid #222222;
	    float: none;
	    margin: 0px 0px 0px 0px;
	    border-radius: 0px;
	    background: #222222;
	}

	.main-menu .navbar-header .navbar-toggle .icon-bar {
	    background: #ffffff;
	}

	.main-menu .navbar-header {
	    position: relative;
	    float: none;
	    display: block;
	    text-align: right;
	    width: 100%;
	    padding: 23px 0px 23px;
	    right: 0px;
	    z-index: 12;
	}

	.main-menu .navbar-collapse > .navigation {
	    float: none !important;
	    margin: 0px !important;
	    padding: 0;
	    width: 100% !important;
	    background: #222222;
	    border: 1px solid #ffffff;
	        border-top-color: rgb(255, 255, 255);
	        border-top-style: solid;
	        border-top-width: 1px;
	    border-top: none;
	}

	.header-style-two .nav-outer {
	    width: 100%;
	    margin: 0;
	}

	.main-header .nav-outer {
	    padding-left: 0;
	}

	.header-style-two .main-menu {
	    padding-top: 0px;
	    width: 100%;
	    margin: 0px;
	        margin-top: 0px;
	    padding: 0px;	    
	}

	.main-header.header-style-two .main-menu .collapse.in, .main-header.header-style-two .main-menu .collapsing {
	    margin-top: 20px;
	}



	.main-menu .navbar-collapse > .navigation > li {
	    margin: 0px !important;
	    float: none !important;
	    padding: 0 !important;
	    width: 100%;
	}

	.main-menu .navbar-collapse > .navigation > li, .main-menu .navbar-collapse > .navigation > li > ul > li, .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li {
	    border-top: 1px solid rgba(255,255,255,1) !important;
	    opacity: 1 !important;
	    top: 0px !important;
	    left: 0px !important;
	    visibility: visible !important;
	}

	.main-menu .navbar-collapse > .navigation > li:first-child {
	    border: none;
	        border-top-color: currentcolor;
	        border-top-style: none;
	        border-top-width: medium;
	}

	.main-menu .navbar-collapse > .navigation > li > a, .main-menu .navbar-collapse > .navigation > li > ul > li > a, .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a {
	    padding: 12px 15px !important;
	    line-height: 22px;
	    color: #ffffff !important;
	    background: #222222;
	    text-align: left;
	    min-height: 0px;
	    font-size: 14px !important;
	    text-transform: capitalize;
	}

	.about-us .image-column .inner-column {
	    position: relative;
	    margin-right: 0px;
	    text-align: center;
	}

	.department-detail .lower-content {
	    position: relative;
	    padding-top: 0px;
	}

	.sidebar-widget {
	    margin-top: 30px;
	}

	.main-menu .navbar-collapse > .navigation > li > a {
	    padding: 10px 10px !important;
	    border: none !important;
	}

	.main-menu .navbar-collapse > .navigation > li > a, .main-menu .navbar-collapse > .navigation > li > ul > li > a, .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a {
	    padding: 12px 15px !important;
	    line-height: 22px;
	    color: #ffffff !important;
	    background: #222222;
	    text-align: left;
	    min-height: 0px;
	    font-size: 14px !important;
	    text-transform: capitalize;
	}

	.main-menu .navbar-collapse > .navigation > li > a, .main-menu .navbar-collapse > .navigation > li > ul > li > a, .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a {
	    padding: 12px 15px !important;
	    line-height: 22px;
	    color: #ffffff !important;
	    background: #222222;
	    text-align: left;
	    min-height: 0px;
	    font-size: 14px !important;
	    text-transform: capitalize;
	}

	.main-menu .navbar-collapse > .navigation > li > ul, .main-menu .navbar-collapse > .navigation > li > ul > li > ul {
	    position: relative;
	    border: none;
	    float: none;
	    visibility: visible;
	    opacity: 1;
	    display: none;
	    margin: 0px;
	    padding: 0px;
	    outline: none;
	    left: auto !important;
	    right: auto !important;
	    top: auto !important;
	    width: 100%;
	    background: #222222;
	    -webkit-border-radius: 0px;
	    -ms-border-radius: 0px;
	    -o-border-radius: 0px;
	    -moz-border-radius: 0px;
	    border-radius: 0px;
	    transition: none !important;
	    -webkit-transition: none !important;
	    -ms-transition: none !important;
	    -o-transition: none !important;
	    -moz-transition: none !important;
	    box-shadow: none !important;
	    -webkit-transform: scaleY(1);
	    -ms-transform: scaleY(1);
	    -moz-transform: scaleY(1);
	    transform: scaleY(1);
	}

	.main-menu .navbar-collapse > .navigation > li, .main-menu .navbar-collapse > .navigation > li > ul > li, .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li {
	    border-top: 1px solid rgba(255,255,255,1) !important;
	    opacity: 1 !important;
	    top: 0px !important;
	    left: 0px !important;
	    visibility: visible !important;
	}

	.main-menu .navbar-collapse > .navigation > li, .main-menu .navbar-collapse > .navigation > li > ul > li, .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li {
	    border-top: 1px solid rgba(255,255,255,1) !important;
	    opacity: 1 !important;
	    top: 0px !important;
	    left: 0px !important;
	    visibility: visible !important;
	}

	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn {
	    display: block;
	}

	.clienteLogo{
		display:inline-block !important;
	}
	.clienteLogo img{
		width:auto !important;
	}

	.tp-splitted{
		
	}

}

@media screen and (min-width:992px){
	.department-section{
		padding-bottom: 0;
	}
}